@import "_estructura.scss";
@import "_colores.scss";
@import "_variables.scss";

/*operaciones*/
$ancho: 550px;

.logo {
    width: ($ancho/2)-130;

}


.menu_header {
    display: flex;
    flex-direction: row;
    
}

.menu_header li {
    list-style: none;
    padding: 5px;
    font-size: medium;
    text-transform: uppercase;
    a {
        color: black;
        text-decoration: none;
        &:hover {
            background-color: rgb(226, 195, 153);
        }
    }

}


.oracion {
    border-top: 1px solid gray;
}
@keyframes animacion1 {
    0% {width: ($ancho/4)-37.5; }
    50% {width: ($ancho/2)+25; font-size: 18px;}
    70% { width: ($ancho/2)-75; font-size: 20px;}
}
.animacion {
    width: ($ancho/4)-37.5;
    height: 100px;
    animation-name: animacion1;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-delay: 1s;
    animation-duration: 5s;
    font-size: 14px;
}
@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.aparecer {
    animation-duration: 2s;
    animation-name: aparecer;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}


.especialidades img {
    width: ($ancho/5)+40;
    height: 120px;
    p {
      text-align: center;
      font-family: cursive;
    }
}

    

.fondo_inicio {
    background-image: url(../images/justicia.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px;
    
}


.abogado img {
    width: $ancho;
    height: 430px;
   
}

.menu_footer li {
    list-style: none;
    margin-left: -30px;
    font-size: small;
    a {
        color: black;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
            font-size: 18px;
            background-color: rgb(226, 195, 153);
        }

    }
}

    



